.hiw{
  font-family:Merriweather Sans,sans-serif;
  background-color: #f0f3f5;
  font-size: 16px;
  color:#4c5155;
}

.hiw-divider {
  fill: #fff;
}

.hiw-h2{
  text-align: center
}

.hiw-how-it-works-content ul {
  display:table;  
  margin: 0 auto;
  list-style: none;
}

.hiw-img {
  height: 38px;
  width: 38px;
  margin-right:.5em;
  
}

  